@model BookShop.WebUI.Models.CartIndexViewModel

@{ 
    ViewBag.Title = "Księgarnia: Twój koszyk";
}


<h2>Twój koszyk</h2>
<table class="table">
    <thead>
        <tr>
            <th>Książka</th>
            <th>Ilość</th>
            <th class="text-right">Cena</th>
            <th class="text-right">Wartość</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var line in Model.Cart.Lines)
            {
        <tr>
            <td class="text-left">@line.Book.Title</td>
            <td class="text-left">@line.Quantity</td>
            <td class="text-right">@line.Book.Price.ToString("c")</td>
            <td class="text-right">@((line.Quantity*line.Book.Price).ToString("c"))</td>
        </tr>
            }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Razem:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c");
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Kontynuuj zakupy</a>
</div>

