@model BookShop.Domain.Entities.Book

<div class="well">

    @if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75"
                 src="@Url.Action("GetImage", "Book", new { Model.BookID })" />
        </div>
    }
    <h3>
        <strong>@Model.Title</strong>
        <span class="pull-right label label-primary">@Model.Price.ToString("c")</span>
    </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {

        <div class="pull-right">
            @Html.HiddenFor(x => x.BookID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Dodaj do koszyka" />
        </div>
    }
    <span class="lead">@Model.Author</span>

    <h4>
        <span class="lead">@Model.Genre</span>
    </h4>
    <span class="pull-right label label-info">Ocena: @Model.Rating</span>

    <h5>
        <span class="lead">@Model.Publisher.PublisherName</span>
    </h5>

</div>

