@model BookShop.Domain.Entities.Publisher

<div class="panel">
    <div class="panel-heading">
        <h3>Edycja @Model.PublisherName</h3>
    </div>

    @using (Html.BeginForm("EditPublisher", "Admin"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.PublisherId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "PublisherId":
                        // Brak operacji.
                        break;
                    default:
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @if (property.PropertyName == "PublisherDesc")
                {
                    @Html.TextArea(property.PropertyName, null,
                         new { @class = "form-control", rows = 5 })
                }
                else
                {
                @Html.TextBox(property.PropertyName, null,
                     new { @class = "form-control" })
                }

                @Html.ValidationMessage(property.PropertyName)
            </div>
                        break;
                }
            }

        </div>


        <div class="panel-footer">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
            @Html.ActionLink("Anuluj i wróć do listy", "PublisherList", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>

@{
    ViewBag.Title = "Administracja: edycja " + @Model.PublisherName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}