@model BookShop.WebUI.Models.OrderDetailsViewModel

<div class="panel">
    <div class="panel-heading">
        <h3>Szczegóły zamówienia nr @Model.OrderId</h3>
    </div>

    @using (Html.BeginForm("OrderDetails", "Admin"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.OrderId)

            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "BooksInOrder":
                    case "OrderId":
                    case "TotalValue":
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control", @readonly=true })

                        </div>
                        break;

                }
            }

            <table class="table table-striped table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Ilość</th>
                    <th class="text-right">Cena</th>
                    <th class="text-right">Wartość</th>
                    
                </tr>
                    </thead>
                <tbody>
                @foreach(var item in Model.BooksInOrder)
                {
                    <tr>
                        <td class="text-left">@item.BookID</td>
                        <td class="text-left">@item.book.Title</td>
                        <td class="text-left">@item.Quantity</td>
                        <td class="text-right">@item.book.Price.ToString("c")</td>
                        <td class="text-right">@((item.Quantity*item.book.Price).ToString("c"))</td>
                    </tr>
                }
                    </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right">Razem: </td>
                        <td class="text-right">@Model.TotalValue.ToString("c")</td>
                    </tr>
                </tfoot>

            </table> 
        </div>

        <div class="panel-footer">
            @Html.ActionLink("Cofnij","OrderList",null, new { @class = "btn btn-default" })
        </div>
    }
</div>


@{
    ViewBag.Title = "Administracja: edycja " + @Model.OrderId;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




