@model BookShop.WebUI.Models.LoginModel

@{ ViewBag.Title = "Login";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";}

<h2>Logowanie</h2>

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        <label>Login</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Hasło</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>
    <button class="btn btn-primary" type="submit">Zaloguj</button>
}
